.auth-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.login{
  display: none;
}
.register{
    
}
.auth-opts {
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  border-radius: 13px;
  padding: 5px;
  height: 45px;
  width: 200px;
  background: var(--auth-surface);
  box-shadow: var(--shadow);
  border: 1px var(--border) solid;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.auth-card {

  width: 400px;
  height: fit-content;
  padding: 30px;
  border: 1px var(--border) solid;
  border-radius: 8px;
  background: var(--auth-surface);
  box-shadow: var(--shadow);
  margin: 0;
}

.auth {
  direction: ltr;
  display: flex;
  flex-direction: column;
  padding: 20px 15px 0px 15px;
}

.auth-title {
  font-weight: 800;
  letter-spacing: 3px;
  text-shadow: var(--shadow);
  font-size: 40px;
  margin-bottom: 12px;
  font-family: "Arad";
  align-self: center;
  transition: 0.5s;
}



.auth-p {
  background-color: var(--auth-surface);
  font-family: "Arad";
  direction: rtl;
  z-index: 1;
  margin: 0px 0px -7px 0px;
  text-align: left;
}

.auth-a {
  font-family: "Arad";
  align-self: center;
  font-size: var(--fs-lg);
}

.auth-a:hover {
  transform: translate(0, 1px);
  transition: .2s;
}

.auth-p-user {
  font-family: "Arad";
  direction: rtl;
  padding-right: 5px;
  margin-left: 5px;
  width: 75px;
}

.auth-p-password {
  direction: rtl;
  font-family: "Arad";
  padding-right: 5px;
  margin-left: 5px;
  width: 70px;
}

.auth-p-confrimpassword {
  direction: rtl;
  padding-left: 1px;
  margin-left: 5px;
  font-family: "Arad";
  width: 130px;
  margin-top: 5px;
}

.auth-input {
  margin: 0px 0px 0px 0px;
  font-family: "Arad";
  font-size: var(--fs-xlg);
  direction: ltr;
  border: 1px var(--border) solid;
  padding: 8px 5px 3px 5px;
  border-radius: 7px;
}

input:focus {
  outline: none;
  border: 1px solid var(--border-focus);

}

.idfk-nigga {
  font-family: "Arad";
  align-self: center;
}

.confirm {
  background-color: var(--button-bg);
  margin: 30px 0px 10px 0px;
  font-family: "Arad";
  padding: 0;
  height: 50px;
  border-radius: 7px;
}

.confirm:hover {
  transform: translate(0px, 1px);
  background: var(--button-bg-hover);
  transition: 0.2s;
}

.authtext{
  text-align: center;
}
.authtext a{
  color:var(--primary);
}
.authtext a:hover{
  text-decoration: underline;
  color:var(--primary-hover);
}