.sidebar-placeholder {
    position: absolute;
    width: 100%;
    z-index: 10;
    bottom: 10px;
    display: flex;
    justify-content: center;

}

.side-content {
    background: var(--sidebar-bg);
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    gap: 5px;
    margin-left: 20px;
    margin-right: 20px;

}
.panel-item:hover{
    background: var(--button-bg-hover);
}

.panel-item {
    border-radius: 14px;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.home-opts {
    direction: ltr;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 45px;
    background: var(--button-bg);
}

.home-side-opts {
    background: var(--side-button);
    padding: 8px;
}

.home-side-opts-side {
    padding: 4px;
    background: var(--side-button);
}

.theme-opts {
    height: 34px;
}