:root {
  /* ================= LAYOUT ================= */
  --bg: #e4e6eb;
  --surface: #ffffff;
  --surface-elevated: #f8f9fb;
  --overlay: rgba(255, 255, 255, 0.9);
  --sidebar-bg: rgb(173, 176, 180, 0.9);

  /* ================= BORDER ================= */
  --border: #d0d3d9;
  --border-muted: rgba(236, 231, 231, 0);
  --border-focus: #adb0b4;

  /* ================= TEXT ================= */
  --text: #1a1a1a;
  --text-muted: #5c5c5c;
  --text-subtle: #9a9a9a;

  /* ================= BRAND ================= */
  --primary: #4a81f8;
  --primary-hover: #3b6fe0;
  --primary-soft: rgba(74, 129, 248, 0.12);

  /* ================= ACTION ================= */
  --button-bg: #bdb6ec;
  --button-bg-hover: #ada6d8;
  --side-button: rgba(138, 138, 145, 0.9);
  /* ================= SURFACES ================= */
  --auth-surface: #e0e3e9;
  --heading: #111111;
  --selection-bg: #e7e7e7;

  /* ================= EFFECTS ================= */
  --shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  --shadow-hover: 0 6px 18px rgba(0, 0, 0, 0.18);

  /* ================= INPUTS ================= */
  --input-bg: #ffffff;
  --input-text: #1a1a1a;
  --input-placeholder: #9a9a9a;
  --upload-border: #2c2c2c;

  /* ================= STATUS ================= */
  --danger: rgb(233, 9, 9);

  /* ================= transition ================= */
  --transition: 0.3;
  /* ================= LAYOUT ================= */
  --max-width: 400px;
  --feeds-width: 1210px;

  /* ================= SCROLLBAR ================= */
  --scrollbar-track: #f0f0f0;
  --scrollbar-thumb: #2c2c2c;
  --scrollbar-thumb-hover: #a5a9b3;
}

[data-theme="dark"] {
  /* ================= LAYOUT ================= */
  --bg: #080808;
  --surface: #1a1a1a;
  --surface-elevated: #222222;
  --overlay: rgba(0, 0, 0, 0.6);
  --sidebar-bg: rgba(0, 0, 0, 0.8);

  /* ================= BORDER ================= */
  --border: #2c2c2c;
  --border-muted: #1f1f1f;
  --border-focus: #252424;

  /* ================= TEXT ================= */
  --text: #d8d8d8;
  --text-muted: #888888;
  --text-subtle: #666666;

  /* ================= BRAND ================= */
  --primary: #4a90e2;
  --primary-hover: #3c7fd1;
  --primary-soft: rgba(74, 144, 226, 0.15);

  /* ================= ACTION ================= */
  --button-bg: #575086;
  --button-bg-hover: #645c97;
  --side-button: rgba(58, 58, 59, 0.9);

  /* ================= SURFACES ================= */
  --auth-surface: #363434;
  --heading: #f0f0f0;
  --selection-bg: #303030;

  /* ================= EFFECTS ================= */
  --shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  --shadow-hover: 0 10px 25px rgba(0, 0, 0, 0.6);

  /* ================= INPUTS ================= */
  --input-bg: #1a1a1a;
  --input-text: #d8d8d8;
  --input-placeholder: #777777;
  --upload-border: #d8d8d8;

  /* ================= SCROLLBAR ================= */
  --scrollbar-track: #111111;
  --scrollbar-thumb: #333333;
  --scrollbar-thumb-hover: #555555;
}