@font-face {
  font-family: "AradDots3";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Arad/woff2/Arad-RegularDots3.woff2") format("woff2");
}

@font-face {
  font-family: "AradDots3";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Arad/woff2/Arad-MediumDots3.woff2") format("woff2");
}

@font-face {
  font-family: "AradDots3";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Arad/woff2/Arad-BoldDots3.woff2") format("woff2");
}

@font-face {
  font-family: "AradDots3";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Arad/woff2/Arad-ExtraBoldDots3.woff2") format("woff2");
}

@font-face {
  font-family: "AradDots3";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Arad/woff2/Arad-BlackDots3.woff2") format("woff2");
}
